/* ============ DARK MODE BTN ============ */

#darkModeBtn {
    display: flex;
    align-items: center;
}

#darkModeBtn p {
    margin-right: 5px;
    pointer-events: none;
}

#darkModeBtn div:nth-child(2){
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885,0.32,1.265);
    height: 20px;
    width: 20px;
}

#darkModeBtn .imgContainer {
    width: 20px;
    height: 20px;
}

#dmMoon, #dmSun {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#dmMoon {
    display: inline-block;
}

#dmSun {
    display: inline-block;
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.toggleSunMoon {
    transform: rotateY(180deg);
}



/* ============ DARK MODE ============ */

.darkMode {
    background-color: var(--DarkModeGrey3);
}

.darkMode header, .darkMode footer, .darkMode header, .darkMode footer{
    background-color: var(--DarkModeGrey2);
    color: white;
}

.darkMode header a {
    color: white;
}

.darkMode header nav > div .imgContainer:nth-child(2) {
    filter: invert(85%);
    -webkit-filter: invert(85%);
}

.darkMode footer, .darkMode footer a {
    color: var(--DarkModeGrey4) !important;
}

.darkMode form, .darkMode #ideasList li  {
    color: var(--DarkModeWhite1);
}

.darkMode .generateBtn {
    background-color: var(--DarkModeBlack1);
    color: var(--DarkModeGreen1);
    /* color: var(--blue1); */
    /* font-weight: bold; */
}

.darkMode .generateBtn:hover {
    background-color: var(--DarkModeGreen1);
    color: var(--DarkModeBlack1);
    /* background-color: var(--blue1);
    color: var(--DarkModeBlack1); */
    font-weight: bold;
}

.darkMode .modalBody {
    background-color: var(--DarkModeGrey5);
}

.darkMode .modalBody #ideasList li p {
    color: white;
}

.darkMode #headerNavMenu li:hover {
    background-color: white;
}

.darkMode #headerNavMenu li:hover a, .darkMode #headerNavMenu li:hover p{
    color: var(--DarkModeGrey2);
}

.darkMode .loading p {
    color: white;
}

.darkMode .loading .imgContainer:not(.rotate, .noFilter) {
    filter: invert(85%);
    -webkit-filter: invert(85%);
}

.darkMode #digContainer .imgContainer:first-child {
    filter: invert(85%);
    -webkit-filter: invert(85%);
}