.darkMode {
    background-color: var(--DarkModeGrey3);
}

.darkMode header, .darkMode footer, .darkMode header, .darkMode footer{
    background-color: var(--DarkModeGrey2);
    /* color: rgb(230, 230, 230); */
    color: white;
}

.darkMode header a {
    color: white;
}

.darkMode footer, .darkMode footer a {
    color: var(--DarkModeGrey4) !important;
}

.darkMode form, .darkMode #ideasList li  {
    color: var(--DarkModeWhite1);
}

.darkMode .generateBtn {
    background-color: var(--DarkModeBlack1);
    color: var(--DarkModeGreen1);
}

.darkMode .generateBtn:hover {
    background-color: var(--DarkModeGreen1);
    color: var(--DarkModeBlack1);
    font-weight: bold;
}

.darkMode .modalBody {
    background-color: var(--DarkModeGrey5);
}

.darkMode .modalBody #ideasList li p {
    color: white;
}



/* ============ DARK MODE BTN ============ */

#darkModeBtn {
    /* display: flex;
    width: 60px; */
    border: 1px solid red;
    transform: scale(1.5);
}

#darkModeBtn .imgContainer {
    width: 18px;
}

#dmCheckbox {
    display: none;
}

.dmLabel {
    width: 50px;
    height: 26px;
    /* background-color:#111; */
    background-color:#afa1a1;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    /* transform: scale(1.5); */
}
  
.dmBall {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
#dmCheckbox:checked + .dmLabel .dmBall{
    transform: translateX(24px);
}