@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --grey1: #F2F2F2;
    --grey2: #D9D9D9;
    --black1: #1B1A1A;
    --blue1: #5391ED;
    --blue2: #0066FF;
    --blue3: #5390ED66;

    --DarkModeGreen1:#24ff24;
    --DarkModeGrey1:#191919;
    --DarkModeGrey2: #121212;
    --DarkModeGrey3: #202020;
    --DarkModeGrey4: #BDBDBD;
    --DarkModeGrey5: #202020;
    --DarkModeBlack1: black;
    --DarkModeWhite1: white;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grey1);
}

body::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
}
   
body::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}

body::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4; 
}



/* ========================= GLOBAL CLASSES ========================= */

.break {
    flex-basis: 100%;
    height: 0;
}

.break-column {
    flex-basis: 100%;
    width: 0;
}

.imgContainer {
    line-height: 0%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.division {
    height: 100%;
    width: 1px;
    background-color: black;
    margin: 0.313rem;
}



/* ========================= HEADER ========================= */

header {
    /* padding: 0.375rem 1.5rem 0.375rem 0.625rem; */
    background-color: var(--blue1);
}

header nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav > div:first-child {
    padding-left: 0.625rem;
}

header nav .imgContainer:nth-child(2), header .break, header nav > div:last-child{
   display: none;
}

header a {
    color: var(--black1);
}

/* header a:hover {
    font-weight: bold;
    color: black;
} */

#headerLogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.563rem;
    /* padding-left: 0.625rem; */
}

#headerLogo a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#headerLogo a div {
    width: 20px;
    margin-right: 0.438rem;
}

#headerLogo p:hover {
    font-style: italic;
}

#headerNavMenu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-transform: uppercase;
}

#headerNavMenu li {
    /* margin-left: 1.5rem; */
    padding: 1rem;
    font-weight: bold;
}

#headerNavMenu li:last-child {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#headerNavMenu li:last-child p {
    margin-right: 5px;
    pointer-events: none;
}

#headerNavMenu li:last-child > div {
    pointer-events: none;
}

#headerNavMenu li:hover {
    background-color: black;
}

#headerNavMenu li:hover a, #headerNavMenu li:hover p{
    color: #5391ED;
}


/* ========================= MAIN CONTAINER ========================= */

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1185px;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    /* border: 1px solid black; */
}

.generateBtn {
    margin: 0.75rem auto;
    font-size: 20px;
    padding: 0.688rem 1.813rem;
    background-color: var(--blue3);
    color: var(--black1);
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    transition: .5s ease;
    /* transition: background-color 2s ease-out 100ms */
}

.generateBtn:hover {
    background-color: #5391ed;
    color: white;
}

.btnHide {
    display: none;
}



/* ============ LIST/GRID VIEW ============ */

#listMenu {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.listMenuBtn {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    /* padding: 0.625rem 1rem 0.5rem; */
    padding: 0.625rem 1rem;
    border: none;
    outline: none;
    background-color: #dcdcdc;
    border-radius: 3px;
}
.listMenuBtn p {
    line-height: 13px;
}

#gridViewBtn {
    display: flex;
}

#gridViewBtn .listMenuBtn{
    margin-right: 0.313rem;
}

.listMenuBtn .imgContainer {
    width: 12px;
    margin-right: 0.313rem;
}

.listMenuBtn:hover:not(.activeMenuBtn) {
    background-color: #c8c8c8;
    color: black;
    cursor: pointer;
}

.activeMenuBtn:not(.listMenuBtn:nth-child(3)) {
    background-color: rgb(116 116 116);
    color: white;
}



/* ============ LIST ============ */

#containerList {
    width: 100%;
    max-width: 608px;
}

#ideasList {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    width: 100%;
    max-width: 608px;
    /* color: black; */
    /* border: 1px solid red; */
}

#ideasList li {
    /* width: 250px; */
    /* width: 50%; */
    text-align: center;
    font-size: 1.25rem;
    /* border: 1px solid blueviolet; */
}

#ideasList li{
    margin-bottom: 2.25rem;
}

#ideasList li .imgContainer {
    /* height: 296px; */
    /* height: 400px; */
    /* height: 100%;
    max-height: 500px; */
    /* border: 1px solid red; */
}

#ideasList li .imgContainer img {
    object-fit: contain;
}

.gridView {
    justify-content: space-evenly;
}

.gridView li {
    width: 300px;
}

.gridView li .imgContainer {
    height: 350px;
}

.listView {
    flex-direction: column;
    align-items: center;
}

.listView li {
    width: auto;
    max-width: 500px;
}

.listView li .imgContainer {
    height: 400px;
}


/* ========================= FOOTER ========================= */

footer {
    padding: 1.313rem 0 0.5rem;
    background-color: var(--blue1);
    text-align: center;
    color: var(--black1);
}

footer a {
    color: var(--black1);
}

footer a:hover {
    font-weight: bold;
    font-style: italic;
    color: black;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    max-width: 95%;
    width: 463px;
    margin: 0 auto 2.25rem;
}

footer ul li p:first-child {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

footer ul li:not(p:first-child) {
    font-size: 0.875rem;
}

#about {
    width: 163px;
    text-align: left;
}

#contactUs {
    display: flex;
    flex-direction: column;
}

#contactUs a {
    text-align: left;
}

footer > p:last-child {
    font-size: 0.813rem;
}



/* ========================= @MEDIA ========================= */

@media (max-width: 668px) {
    .gridView li  {
        width: 50%;
    }
}

@media (max-width: 600px) {

    .hideShowHeaderNavMenu {
        display: block !important;
    }
    
    header .break, header nav > div:last-child{
        display: block;
    }

    header nav {
        position: relative;
    }

    header nav > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.625rem;
    }

    #headerLogo {
        font-size: 1.25rem;
    }

    #headerLogo .imgContainer {
        width: 18px;
    }

    header nav > div .imgContainer:nth-child(2){
        display: block;
        width: 30px;
        height: 30px;
    }

    #headerNavMenu {
        display: none;
        width: 100%;
        padding: 0.625rem 0;
        background-color: #333333 !important;
        position: absolute;
        top: 98%;
        z-index: 3;
    }

    #headerNavMenu a, #headerNavMenu li:last-child p {
        color: white;
    }
}

@media (max-width: 1125px) {
    
    .division {
        height: 1px;
        width: 100%;
        margin: 1rem;
    }

    #containerList, #ideasList {
        margin: auto;
    }
}