/* ========= Modal Background =========*/

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
  
/* ========= Modal Body =========*/

.modalBody {
    max-width: 1140px;
    width: 90%;
    overflow: hidden;

    position: relative;
    background-color: #fefefe;
    margin: 1.75rem auto;
    border-radius: 0.3rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.closeModalBtn {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.closeModalBtn:hover, .closeModalBtn:focus {
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 1rem;
    border-bottom: 1px solid var(--grey3);
    text-align: right;
}

.modalFooter {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
}

.modalContent #containerList, .modalContent #ideasList {
    margin: 0 auto;
}

.modalContent #listMenu > button:last-child {
    display: none;
}

.modalContent #ideasList li {
    color: black !important;
}

.modalContent .gridView li .imgContainer {
    height: 400px;
}

.modalHeader #listMenu {
    display: flex;
}

/* ========================= @MEDIA ========================= */

@media (max-width: 699px) {

    .modalContent #ideasList li {
        width: 100% !important;
    }
}