<footer onclick="closeNavBar()">

    <ul>
        <li id="about">
            <p>About</p>
            <p>This website was made to help those who are in doubt about what to draw.</p>
        </li>

        <li id="contactUs">
            <p>Contact Us</p>
            <a href="https://www.linkedin.com/in/caiovieiralima/" target="_blank">Linkedin</a>
            <a href="https://www.instagram.com/caiolimaart/" target="_blank">Instagram</a>
            <a href="https://www.deviantart.com/caiolimaart" target="_blank">DeviantArt</a>
        </li>
    </ul>

    <p>Developed by: <a href="https://www.linkedin.com/in/caiovieiralima/" target="_blank">Caio Vieira Lima</a></p>

</footer>