<header>
    <nav>

        <div>
            <div id="headerLogo">
                <a href="./index.html">
                    <div class='imgContainer'><img src='img/icons/dig1.png' alt="mascote"></div>
                    <p>Drawing Ideas Generator</p>
                </a>
            </div>

            <div class='imgContainer' onclick="myNavBar()">
                <img src="img/icons/menuIcon.png" alt='menuIcon'>
            </div>
        </div>

        <span class="break"></span>

        <ul id="headerNavMenu">
            <li><a href="./index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contactUs">Contact Us</a></li>
            <li onclick="darkModeFunc()">
                <p>Dark Mode</p>

                <div id="darkModeBtn">

                    <div id='dmSun' class="imgContainer"><img src='img/icons/sun1.png' alt='sun'></div>
                    <div id='dmMoon' class="imgContainer"><img src='img/icons/moon1.png' alt='moon'></div>

                </div>
            </li>
        </ul>

        <!-- <div onclick="myNavBar() ">aa</div> -->
    </nav>

    <!-- <div id="darkModeBtn" onclick="snmn()">

            <div id='dmSun' class="imgContainer"><img src='img/icons/sun1.png' alt='sun'></div>
            <div id='dmMoon' class="imgContainer"><img src='img/icons/moon1.png' alt='moon'></div>

        </div> -->

</header>